{
    "Parameters": {
        "USER_DB": "DATABASE_USER",
        "PASSWORD_DB": "DATABASE_PASSWORD",
        "HOST_DB": "DATABASE_HOST",
        "PORT_DB": "DATABASE_PORT",
        "DATABASE_DB": "DATABASE_NAME"
    }
}
